[submodule "GameEngine/veendor/spdlog"]
	path = GameEngine/veendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "vendor/GLFW/glfw"]
	path = vendor/GLFW/glfw
	url = https://github.com/DreamHunter0/glfw
