[submodule "GameEngine/vendor/glm"]
	path = GameEngine/vendor/glm
	url = https://github.com/g-truc/glm
	branch = master

[submodule "GameEngine/vendor/imgui"]
	path = GameEngine/vendor/imgui
	url = https://github.com/i-Rohit-sy/imgui
	branch = docking

[submodule "GameEngine/vendor/GLFW"]
	path = GameEngine/vendor/GLFW
	url = https://github.com/i-Rohit-sy/glfw
	branch = master
	
[submodule "GameEngine/vendor/spdlog"]
	path = GameEngine/vendor/spdlog
	url = https://github.com/i-Rohit-sy/spdlogLogging
	branch = v1.x
[submodule "GameEngine/vendor/spdlogLogging"]
	path = GameEngine/vendor/spdlogLogging
	url = https://github.com/i-Rohit-sy/spdlogLogging
[submodule "GameEngine/vendor/GameEngine/vendor/spdlogLogging"]
	path = GameEngine/vendor/GameEngine/vendor/spdlogLogging
	url = https://github.com/gabime/spdlog
